{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "plugins": [
    "flowtype",
    "prettier"
  ],
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    },
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "rules" : {
    "prettier/prettier": "error",
    "no-duplicate-imports": 0,
    "react/prop-types": 0,
    "react/forbid-prop-types": 1,
    "react/no-array-index-key": "off",
    "react/require-default-props": "off",
    "react/no-children-prop": "off",
    "react/jsx-no-bind": ["warn", {
      "ignoreRefs": true,
      "allowArrowFunctions": false,
      "allowBind": false
    }],
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": ["!**/*.test.js", "!**/*.spec.js"]
    }],
    "import/named": 1,
    "import/namespace": 1,
    "import/default": 1,
    "import/export": 1,
    "import/imports-first": 1,
    "import/no-duplicates": 1,
    "import/prefer-default-export": 1,
    "import/order": [
      "error", {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "newlines-between": "always"
      }
    ],
    "import/no-unresolved": 1,
    "arrow-body-style": ["warn", "as-needed"],
    "no-underscore-dangle": ["off"],
    "no-mixed-operators": [
      "error", {
        "allowSamePrecedence": true,
        "groups": [
          ["&", "|", "^", "~", "<<", ">>", ">>>"],
          ["==", "!=", "===", "!==", ">", ">=", "<", "<="],
          ["&&", "||"],
          ["in", "instanceof"]
        ]
      }
    ],
    "no-debugger": ["warn"],
    "global-require": 0,
    "no-param-reassign": [2, { 
      "props": false
    }],
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "to" ]
    }],
    "jsx-a11y/label-has-for": [ "error", {
      "components": [ "Label" ],
      "required": {
        "some": [ "nesting", "id" ]
      }
    }],
    "flowtype/define-flow-type": 1,
    "flowtype/space-before-type-colon": 0,
    "flowtype/use-flow-type": 1,
    "flowtype/valid-syntax": 1,
    "flowtype/type-id-match": [
      2,
      "^([A-Z]+[a-z0-9A-Z]*)$"
    ]
  },
  "globals" : {
    "window": true,
    "React": true,
    "Generator": true
  }
}
